.MainHeader {
  background-color: #60a7b5;
  padding: 0;
  padding-top: 5px;

  .nav {
    a {
      color: #ffffff;
      text-decoration: none;
      padding: 20px;
      padding-bottom: 10px;
      
      @media screen and(max-width: 992px) {
        padding: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
      }

      &.active {
        border: #ffffff 1px solid;
        border-bottom: none;
        border-radius: 10px 10px 0 0;

        @media screen and(max-width: 992px) {
          border: none;
          border-radius: 0;
          background-color: #34b7d1;
        }
      }
    }

    .MainHeader__homeIcon {
      margin-top: -7px;
      font-size: large;
    }
  }

}